C:/Users/Myriam/Documents/Université/S-E14/IMN430/tp1/*
C:/Users/Myriam/Documents/Université/S-E14/IMN430/tp2/*
C:/Users/Myriam/Documents/Université/S-E14/IMN430/tp3/Tp3/*
C:/Users/Myriam/Documents/Université/S-E14/IMN430/tp3/imn430-tp3-e2014/*